body {
    font-family: 'Lucida Bright', Georgia;
    background-color: #cbc6ae;
    color: #333;
    margin: 0;
    font-size:medium;
}

header {
    background-color: #275095;
    color: white;
    text-align: center;
    font-size:large;
}

header h1 {
    margin: 0;
    font-weight:bold;
    color: #f0ac47;
}

main {
    width: 80%;
    margin: 20px auto;
}

.ingredients, .instructions {
    background-color: #a0e0e7;
  
}

.ingredients h2, .instructions h2 {
    color: #90316c;
}

ul, ol {
    margin-left: 20px;
    font-weight:light;
}
 a:link {  
        color:#c58de7;  
    }

  a:hover {  
        color:#dfe78d;  
    }

a:visited {  
        color:#8de7a2;  
    }

  a:active {  
        color:#8de7d4;  
    }

h2 {
    color:#68b7f3
}

h3 {
    color:#ebbce4
}
